
/*
-------------------------
File for the colors in jbdesign
jbdesign supports the following colors by default:
  - color-text1: default text color
  - color-text2t: lighter text color
  - color-text-dark1: default text color on darker backgrounds
  - color-text-dark2: lighter text color on darker backgrounds

  - color-background1: default background color
  - color-background2: darker background color
  - color-background-dark1: default dark background color
  - color-background-dark2: lighter dark background color

  - color-accent1: accent color of jbdesign
  - color-accent2: shade of accent color

  - color-success: color of success
  - color-error: color of error
  - color-warning: color of warning

-------------------------
*/

/* NORMAILZE START */

:root {
    --color-background1: #fdfdfd;
    --color-background2: #f2f2f2;

    --color-text1: #0d1317;
    --color-text1-shade: #b6b6b6;

    --color-text2: #2b3c47;
    --color-text2-shade: #3f6178;

    --color-divider: #d3d3d3;
    
    --color-accent1: #89d2dc;
    --color-accent1-shade: #4d9099;

    --color-accent2: #6564db;
    --color-accent2-shade: #252475;
}

.jbdesign {
    background-color: var(--color-background1);
}


/* NORMALIZE END */