



/* NAVBAR START */

:root {
    --height-navbar-desktop: 85px;
}


.jbdesign {

    .navbar-placeholder {
        width: 100%;
        height: 0;
    }

    .navbar {
        padding-left: var(--padding-x-default);
        padding-right: var(--padding-x-default);
        width: 100%;
        height: var(--height-navbar-desktop);
        display: flex;
        flex-direction: row;
    

        align-items: center;
        justify-content: space-between;
        




        transition: var(--transition-default);

        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            background-color: red;
        }

        &.sticky ~ .navbar-placeholder {
            height: var(--height-navbar-desktop);
        }
        
    }
    
}




/* NAVBAR END */