
/*
-------------------------
File for the basic layout of the page


Style guide for z-index:
  - normal page-content: 0
  - navbar: 10

-------------------------
*/




:root {

    --width-container: 70%;




    --breakpoint-lg: 1200px;
    --breakpoint-md: 992px;
    --breakpoint-sm: 576px;

    --padding-x-default: 120px;
    --padding-x-mobile: 80px;

}


.jbdesign {

    .container {
        width: var(--width-container);
    }



}

@media screen and (max-width: 991px) {
        
    .jbdesign {
        .container {
            width: 100%;
        }
    }
}