@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');

:root {
    --default-font-family: 'Inter', sans-serif;
    --headline-font-family: 'Outfit', sans-serif;

    //--default-border: var(--default-color) 1.5px solid;
    --default-border: none;
    --default-border-radius: 0px;

    --accent-color: #26c57a;
    --accent-color-2: rgb(67, 184, 102);
}