
/*
-------------------------
File for the typographie used in all of jbdesign

TYPEFACES:
jbdesign supports two fonts by default: One for normal text and one for more important / bold usecases, e. g. headlines, primary buttons, etc.

-------------------------
*/

/* TYPOGRAPHIE START */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-size-h1: 107px;
    --font-size-h2: 67px;
    --font-size-h3: 54px;
    --font-size-h4: 38px;
    --font-size-h5: 27px;
    --font-size-h6: 22px;

    --font-size-body1: 20px;
    --font-size-body2: 18px;

    --letter-spacing-h1: -1.5px;
    --letter-spacing-h2: -0.5px;
    --letter-spacing-h3: 0px;
    --letter-spacing-h4: 0.25px;
    --letter-spacing-h5: 0px;
    --letter-spacing-h6: 0.15px;

    --letter-spacing-body1: 0.5px;
    --letter-spacing-body2: 0.25px;

    --font-family-headline: 'Outfit', sans-serif;
    --font-family-body: 'Inter', sans-serif;
}

.jbdesign {

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: var(--font-family-headline);
    }

    h1, .h1 {
        font-weight: 300;
    }

    h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
        font-weight: 400;
    }

    h6, .h6 {
        font-weight: 500;        
    }

    h1, .h1 {
        font-size: var(--font-size-h1);
        letter-spacing: var(--letter-spacing-h1);
    }

    h2, .h2 {
        font-size: var(--font-size-h2);
        letter-spacing: var(--letter-spacing-h2);
    }

    h3, .h3 {
        font-size: var(--font-size-h3);
        letter-spacing: var(--letter-spacing-h3);
    }

    h4, .h4 {
        font-size: var(--font-size-h4);
        letter-spacing: var(--letter-spacing-h4);
    }

    h5, .h5 {
        font-size: var(--font-size-h5);
        letter-spacing: var(--letter-spacing-h5);
    }

    h6, .h6 {
        font-size: var(--font-size-h6);
        letter-spacing: var(--letter-spacing-h6);
    }

    a, p, span, .font-body1, .font-body2, .font-button {
        font-family: var(--font-family-body);
    }

    a, p, span, .font-body1 {
        font-size: var(--font-size-body1);
        letter-spacing: var(--letter-spacing-body1);
    }

    .font-body2 {
        font-size: var(--font-size-body2);
        letter-spacing: var(--letter-spacing-body2);
    }

    .font-button {
        font-size: 16px;
        letter-spacing: 0.25px;
        text-transform: uppercase;
        font-weight: 600;
    }

    a {
        text-decoration: none;
        color: var(--color-accent1);
        transition: var(--transition-default);

        &:hover {
            color: var(--color-accent1-shade);
        }
    }

    .bold {
        font-weight: 600;
    }

}


/* TYPOGRAPHIE END */