



/* NAVBAR START */

:root {
    --height-navbar-desktop: 85px;

    //--navbar-border: 
    //--navbar-box-shadow: 
}


.jbdesign {

    .navbar-placeholder {
        width: 100%;
        height: 0;
    }

    .navbar {
        z-index: 10;
        background-color: var(--color-background1);
        padding-left: var(--padding-x-default);
        padding-right: var(--padding-x-default);
        width: 100%;
        height: var(--height-navbar-desktop);
        display: flex;
        flex-direction: row;
    

        align-items: center;
        justify-content: space-between;
        




        transition: var(--transition-default);

        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            box-shadow: var(--box-shadow-default);
            border-bottom: var(--border-default)
        }

        &.sticky ~ .navbar-placeholder {
            height: var(--height-navbar-desktop);
        }

        .items {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .item-container {
                margin-left: var(--spacing-4);

                .item {
                    padding: var(--spacing-2) 0px;
                    position: relative;
                    color: var(--color-font);

                    &::before {
                        content: '';
                        background-color: var(--color-accent1);
                        height: 2px;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
        
    }

    /* NAVBAR END */

    /* CARD START */
    
    .card {
        border: var(--border-default);
        box-shadow: var(--box-shadow-default);
        border-radius: var(--border-radius-default);
        padding: var(--spacing-3);
        background-color: var(--color-background2);
    }
    
    /* CARD END */
    
}




