:root {
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 16px;
    --spacing-4: 32px;





    --border-radius-default: 12px;
    //--box-shadow-default: 0px 0px 16px var(--color-divider);
    --box-shadow-default: none;
    --border-default: 1px solid var(--color-divider);
}